@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

/*reset*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/*Definindo na raíz que o font-size referencia será 10px*/
:root{
  font-size: 10px;
}

/*definindo a fonte padrão do projeto*/
body{
  font-family: 'Ropa Sans', sans-serif;
}


/*definindo tamhno máximo e centralizando elementos*/
.container{
  width: 100%;

  margin: 0 auto;
}


header{
  width: 100%;
  height: 4.9rem;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);

  padding: 0 3.1rem 0 4.4rem;
  margin-bottom: 2rem; 
}


.logo-box a{
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-box h1{
  font-size: 3rem;
  text-transform: uppercase;
  color: #777777;
  line-height: 3.2rem;
  padding-right: 0.4rem;
}

.logo-box h5{
  font-size: 1rem;
  width: 3.8rem;
  color: #AAAAAA
  ;
}

.menu-box img:hover{
 cursor: pointer;
}



/*definindo as margens direita e esquerda do main*/
main{
  margin-left:4.4rem;
  margin-right: 4.5rem;
}




/*COMEÇA A SEÇÃO  DO BANNER*/


/*definindo o tamanho e organizando os filhos do banner-box*/
.banner-box{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 3.7rem;
  
}

/*definindo o tamanho do banner*/
.banner{
  width: 100%;  
}


/*COMEÇA A SEÇÃO  DOS LOFTS*/

/*BOX RESPONSÁVEL POR AGRUPAR LOFTS*/
.lofts-box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
  margin-bottom: 5.7rem;
}

/*AGRUPA CARD NEW LOFT*/
.new-loft {
  width: 25.6rem;
  height: 24.2rem;
  display: flex;
  flex-direction: column;
}

/*AGRUPA CARD SALE LOFT*/
.sale-loft{
  width: 25.6rem;
  height: 24.2rem;
  display: flex;
  flex-direction: column;  
}

/*classe responsável agrupar e organizar preço e selo*/
.box-price-stamp{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: .9rem 1.3rem 1.2rem 1.2rem ;
}


/*classe reponsável por estilizar o preço do loft*/
.price{
  font-size: 2.5rem;
  color: #888888;
  display: inline-block;
}




/*Selo - New*/
.new{
  font-size: 2rem;
  background-color: #51D275;
  color: #FFFFFF;

  border-radius: 1.05rem;
  width: 5.6rem;
  height: 2.1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

/*Selo - Sale*/
.sale{
  font-size: 2rem;
  background-color: #DC9730
  ;
  color: #FFFFFF;

  border-radius: 1.05rem;
  width: 5.6rem;
  height: 2.1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

/*estilização dos parágrafos*/
.new-loft p{
  text-align: justify;
  color: #555555;
  width: 23.1rem;
  height: 4.4rem;
  margin-left: 1.2rem;
}

/*estilização dos parágrafos*/
.sale-loft p{
  text-align: justify;
  color: #555555;
  width: 23.1rem;
  height: 4.4rem;
  margin-left: 1.2rem;
}

.style-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5.7rem;
}

.style-box h2{
  font-size: 2.5rem;
  color: #888888;
  margin-bottom: 1.3rem;
  font-weight: 400;
}

.style-card{

  width: 60.8rem;
  height: 8rem;

  background-image: url("../img/Rectangle\ 11.png");
  color: #FFFFFF;
  margin-bottom: 1.3rem;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2.5rem;
}


.background-image-card1{
  background-image: url("../img/Rectangle\ 11.png"); 
}

.background-image-card2{
  background-image: url("../img/Rectangle\ 12.png");
}

.background-image-card3{
  background-image: url("../img/Rectangle\ 13.png");
}
